In [2]:
import pandas as pd

orders = pd.read_csv('../data/raw/Orders.csv')
returns = pd.read_csv('../data/raw/Returns.csv')
people = pd.read_csv('../data/raw/People.csv')

orders.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
orders.head()
orders.info()
orders.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Order Date     9994 non-null   object
 2   Ship Date      9994 non-null   object
 3   Ship Mode      9994 non-null   object
 4   Customer ID    9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Region         9994 non-null   object
 11  Product ID     9994 non-null   object
 12  Category       9994 non-null   object
 13  Sub-Category   9994 non-null   object
 14  Product Name   9994 non-null   object
 15  Sales          9994 non-null   float64
 16  Quantity       9994 non-null   int64
 17  Discount       9994 non-null   float64
 18  Profit         9994 non-null   float64
dtypes: float64(3), int64(1), object(15)
memory usage: 1.4+ MB

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
unique,5009,1237,1334,4,793,793,3,1,531,49,4,1862,3,17,1850,NaN,NaN,NaN,NaN
top,CA-2017-100111,05-09-2016,16-12-2015,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,NaN,NaN,NaN,NaN
freq,14,38,35,5968,37,37,5191,9994,915,2001,3203,19,6026,1523,48,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,229.858001,3.789574,0.156203,28.656896
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,623.245101,2.225110,0.206452,234.260108
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.280000,2.000000,0.000000,1.728750
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.490000,3.000000,0.200000,8.666500
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209.940000,5.000000,0.200000,29.364000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.800000,8399.976000

In [7]:
people.isna().sum()

Person    0
Region    0
dtype: int64

In [9]:
orders['Order Date'] = pd.to_datetime(orders['Order Date'], dayfirst=True, errors='coerce')
orders['Ship Date'] = pd.to_datetime(orders['Ship Date'], dayfirst=True, errors='coerce')

In [10]:
orders['Category'] = orders['Category'].astype('category')
orders['Segment'] = orders['Segment'].astype('category')

In [11]:
orders.duplicated().sum()
orders = orders.drop_duplicates()

In [12]:
orders['City'] = orders['City'].str.strip()
orders['State'] = orders['State'].str.strip()
orders['Region'] = orders['Region'].str.title()

In [13]:
orders[['Sales', 'Profit', 'Discount']].describe()
orders[orders['Profit'] < 0]
orders[orders['Discount'] > 0.8]

Empty DataFrame
Columns: [Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

In [14]:
orders['Returned'] = orders['Order ID'].isin(returns['Order ID'])
orders = orders.merge(people, on='Region', how='left')

In [15]:
orders['Ship_Days'] = (orders['Ship Date'] - orders['Order Date']).dt.days
orders['Profit_Margin'] = orders['Profit'] / orders['Sales']

In [17]:
orders.to_csv('../data/cleaned/Orders_clean.csv', index=False)

In [18]:
#Check for NULLs in each dataset
orders.isna().sum()
returns.isna().sum()
people.isna().sum()

Person    0
Region    0
dtype: int64

In [20]:
#Basic Overview
orders.describe()
orders.describe(include='object')
orders['Category'].value_counts()
orders['Sub-Category'].value_counts()
orders['Segment'].value_counts()

Segment
Consumer       5191
Corporate      3020
Home Office    1782
Name: count, dtype: int64

In [21]:
#Sales & Profit Summary
orders[['Sales', 'Profit']].sum()

Sales     2.296919e+06
Profit    2.864091e+05
dtype: float64

In [22]:
#Overall performance
orders[['Sales', 'Profit']].describe()

              Sales       Profit
count   9993.000000  9993.000000
mean     229.852846    28.660971
std      623.276074   234.271476
min        0.444000 -6599.978000
25%       17.280000     1.731000
50%       54.480000     8.671000
75%      209.940000    29.364000
max    22638.480000  8399.976000

In [23]:
#Profit by Category
orders.groupby('Category')['Profit'].sum().sort_values(ascending=False)

C:\Users\Anusha\AppData\Local\Temp\ipykernel_35448\467866540.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  orders.groupby('Category')['Profit'].sum().sort_values(ascending=False)

Category
Technology         145454.9481
Office Supplies    122490.8008
Furniture           18463.3316
Name: Profit, dtype: float64

In [24]:
#Profit by Sub-Category
orders.groupby('Sub-Category')['Profit'].sum().sort_values()

Sub-Category
Tables        -17725.4811
Bookcases      -3472.5560
Supplies       -1189.0995
Fasteners        949.5182
Machines        3384.7569
Labels          5546.2540
Art             6527.7870
Envelopes       6964.1767
Furnishings    13059.1436
Appliances     18138.0054
Storage        21278.8264
Chairs         26602.2251
Binders        30221.7633
Paper          34053.5693
Accessories    41936.6357
Phones         44515.7306
Copiers        55617.8249
Name: Profit, dtype: float64

In [25]:
#Profit by Region
orders.groupby('Region')['Profit'].sum().sort_values()

Region
Central     39706.3625
South       46749.4303
East        91534.8388
West       108418.4489
Name: Profit, dtype: float64

In [26]:
#date check
orders.set_index('Order Date', inplace=True)

In [27]:
#Monthly sales
orders.resample('M')['Sales'].sum()

C:\Users\Anusha\AppData\Local\Temp\ipykernel_35448\744535333.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  orders.resample('M')['Sales'].sum()

Order Date
2014-01-31     14236.8950
2014-02-28      4519.8920
2014-03-31     55691.0090
2014-04-30     28013.9730
2014-05-31     23648.2870
2014-06-30     34595.1276
2014-07-31     33946.3930
2014-08-31     27909.4685
2014-09-30     81777.3508
2014-10-31     31453.3930
2014-11-30     78628.7167
2014-12-31     69545.6205
2015-01-31     18174.0756
2015-02-28     11951.4110
2015-03-31     38726.2520
2015-04-30     34195.2085
2015-05-31     30131.6865
2015-06-30     24797.2920
2015-07-31     28765.3250
2015-08-31     36898.3322
2015-09-30     64595.9180
2015-10-31     31404.9235
2015-11-30     75972.5635
2015-12-31     74919.5212
2016-01-31     18542.4910
2016-02-29     22978.8150
2016-03-31     51715.8750
2016-04-30     38750.0390
2016-05-31     56987.7280
2016-06-30     40344.5340
2016-07-31     39261.9630
2016-08-31     31115.3743
2016-09-30     73410.0249
2016-10-31     59687.7450
2016-11-30     79411.9658
2016-12-31     96999.0430
2017-01-31     43971.3740
2017-02-28     20301.1334
2017-03-31     58872.3528
2017-04-30     36521.5361
2017-05-31     44261.1102
2017-06-30     52981.7257
2017-07-31     45264.4160
2017-08-31     63120.8880
2017-09-30     87866.6520
2017-10-31     77776.9232
2017-11-30    118447.8250
2017-12-31     83829.3188
Freq: ME, Name: Sales, dtype: float64

In [28]:
#Returned Orders Impact
orders.groupby('Returned')['Profit'].sum()

Returned
False    263176.7190
True      23232.3615
Name: Profit, dtype: float64

In [ ]:
#Average Shipping Performance
orders['Ship_Days'].mean()

np.float64(3.9581707195036526)